@charset "utf-8";
/* CSS Document */

/* base */
*{margin:0;padding:0}
div,p,h1,h2,h3,h4,h5,h6,ul,li,ol,dl,dt,dd,img,form{margin:0;padding:0;border:0;}
body{font-family: "微软雅黑";}
ul,ol,li{list-style:none;}
table,td,tr,th,input,select{font-size:13px;}
input{font-family:Arial;} /*text and password width*/
table,td{ border-collapse:collapse;}
.clear{ zoom:1;}
.clear:after{ display:block;clear:both;height:0;content:''}
a{text-decoration:none;font-family: "微软雅黑"; border:none;}
a:link{text-decoration:none;border:none;}
a:hover{ text-decoration:none;border:none;}
a:active{}
a{}
a:hover, a:visited{}
.fll{float:left}
.flr{float:right}
.posa{position: absolute}

