
/* select-main */
div.select-main {
	background-color:#FFFFFF;
	border:1px solid #E2E2E2;
	border-radius:23px;
	font-size:14px;
	height:35px;
	position:relative;
	width:100px;

	-webkit-user-select:none; /* webkit (safari, chrome) browsers */
    -moz-user-select:none; /* mozilla browsers */
    -khtml-user-select:none; /* webkit (konqueror) browsers */
    -ms-user-select:none; /* IE10+ */
}

div.select-main.z-index {
	z-index:10;
}

div.select-main.disabled {
	cursor:default;
	filter:alpha(opacity=50);
	opacity:0.5;
	zoom:1;
}

div.select-main.disabled div.select-set {
	cursor:default;
}

div.select-main.disabled div.select-arrow {
	cursor:default;
}

div.select-set {
	background-color:#FFFFFF;
	border-radius:23px;
	color:#333333;
	cursor:pointer;
	height:34px;
	line-height:34px;
	overflow:hidden;
	position:relative;
	padding:0 35px 0 15px;
	width:50px;
	z-index:5;
    font-size: 12px;color:#797571
}

div.select-arrow {
background:url("../images/ii_22.png") no-repeat right;z-index: 100; height:23px;width: 17px;position: absolute;right:17px;top:7px;
}

div.select-arrow.reverse {
    background:url("../images/ii_2233.png") no-repeat right;z-index: 100;

}

div.select-block {
	background-color:#FFFFFF;
    border-left:1px solid #E2E2E2;
    border-right:1px solid #E2E2E2;
    border-bottom:1px solid #E2E2E2;
    border-radius:5px;
    left:15px;
    line-height:20px;
    position:absolute;
    top:32px;
    width:72px;
}

ul.select-list {
	cursor:pointer;
	margin:15px 0 7px;
}

/* Scroll view */

ul.select-list::-webkit-scrollbar {
    width:12px;
}

ul.select-list::-webkit-scrollbar-track {
    border-radius:10px;
}

ul.select-list::-webkit-scrollbar-thumb {
    border-radius:10px;
    -webkit-box-shadow:inset 0 0 1px rgba(0,0,0,0.5);
}

ul.select-list {
	scrollbar-face-color:#AEB1B1;
    scrollbar-shadow-color:#C7CACA;
    scrollbar-highlight-color:#CED1D1;
    scrollbar-3dlight-color:#CED1D1;
    scrollbar-darkshadow-color:#C7CACA;
    scrollbar-track-color:#CED1D1;
    scrollbar-arrow-color:#333;
}

/* End scroll view */

li.select-items {
	padding:7px 15px;
    font-size: 12px;color:#797571
}

li.select-items:hover,
li.select-items.active {
	background-color:#FF6458;
	color:#FFFFFF;
} 