*{
	font-family: 微软雅黑;
}
html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	min-width: 970px;
	min-height: 700px;
	display: flex;
	flex-direction: column;
}
.header {
    height: 50px;
    line-height: 50px;
    background-color: #3c8dbc;
    padding: 0 5px 0 15px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.header h1 {
	margin: 0;
}
.header h1 a {
	display: block;
	color: #eee;
	text-decoration: none;
	font-size: 18px;
	padding: 0;
}
.header .nav a, .header .user a {
	display: block;
	float: left;
	color: #eee;
	text-decoration: none;
	font-size: 13px;
	padding: 0 10px;
}
.header .nav a:hover, .header .user a:hover {
	color: #fff;
	background-color: #444199
}
.header .nav {
	flex-grow: 1;
	padding: 0 30px;
}
.main {
	flex-grow: 1;
	display: flex;
}
.left-side {
	width: 220px;
	background-color: #222d32;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 13px;
}
li {
	padding-left: 15px;
	line-height: 44px;
	color: #b8c7ce;
	background-color: #2c3b41;
}
li a {
	display: block;
	color: #abb;
	text-decoration: none;	
}
li a:hover {
	color: #fff;
}
.sub-menu {
	display: none;
}
.menu-title.active+li {
	display: block;
}
.menu-title {
    color: #fff;
    border-left: 3px solid transparent;
    background-color: #222d32;
}
.menu-title.active {
	border-left: 3px solid #f39c12;
	background-color: #111;
}
.menu-title.active a {
	color: white;
}
li.active a {
	color: white;
}
.right-side {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
iframe {
	flex-grow: 1px;
	height: 100%;
	width: 100%;
	border: none;
}
.footer {
	width: 100%;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #d2d6de;
    color: #888;
    text-align: center;
    font-size: 13px;
}