@charset "UTF-8";
body{
	margin:0;
	padding:0;
	font-family: "Microsoft YaHei", "微软雅黑", "宋体";
	background:#fff;
}
#container{
	width:1920px;
	height:auto;
}
#header{
	position:absolute; 
	z-index:3; 
	width:1920px;
}
header{
	margin:0px;
	padding:0px;
	width:100%;
	height:160px;
	background:url(/NewsMS/images/ftop.jpg);
	background-size:cover;	
}
nav{
	width:100%;
	float:left;
	background:#4070BA;
}
#vir-head{
	margin: 0 auto;
	position:fixed; 
	z-index:2; 
	top:0px; 
	width:1920px; 
	background:#4070BA;
}
.menu{
	margin: 0 auto;
	text-align:left;
	width:75%;
	height:70px;
}
.menu ul{
	float:left;
	margin:20px 0px;
	padding:0px;
	text-align:center;
}
.menu .login{
	float:right;
	width:400px;
	height:70px;
	padding-right:50px;
	text-align:right;
}
a{
	text-decoration: none;
}
.login p{
	display:block;
	text-decoration: none;
	font-size: 20px;
	font-weight: 70px;
}
.menu li{
	list-style-type:none; 
	display:inline; 
	float:left;	
	margin:0px;
	padding:0px;
}
.menu li a{
	text-decoration:none;
	color:white;
	font-size: 20px;
	margin:0px;
	padding:20px 25px 22px 25px;
}
#main{
	width:100%;
	float:left;
	height:auto;
	margin-top:230px;
}
#main .main-box{
	margin:0 auto;
	position:relative;
	width:75%;
}
.main-box .position{
	float:left;
	margin-top:30px;
	width:100%;
	height:60px;
	background:#014899;
	text-align:left;
	color: #fff;
	font-size:20px;
	line-height:60px;
}
.menu a,.position a{
	text-decoration: none;
	color: #fff;
}

.main-box .main-area{
	float:left;
	width:100%;
	margin-top:30px;
}
#main .main-left{
	float:left;
	width:70%;
}
.main-left .title{
	float:left;
	width:100%;
	height:60px;
	margin:0 auto;
	padding-top:10px;
}
.title h3{
	margin:0;
	padding:0;
	font-size:30px;
	font-weight: bold;
	line-height: 60px;
	width: 100%;
	text-align: center;
	color: #034990;
}
.main-left .detail{
	float:left;
	width:100%;
	height:50px;
	margin:10px auto;
	background: #D8D6D6;
	text-align:center;
	color:black;
	font-size:18px;
	line-height:50px;
}
.main-left .content{
	float:left;
	width:100%;
	margin-top:20px;
	border-bottom:1px dashed red;
}
.content a{
	text-decoration: none;
	color: black;
}
#main .main-right{
	float:right;
	width:25%;
	height:auto;
}
#main .comment{
	margin-top:10px;
	float:left;
	width:100%;
	height:275px;
}
.comments{
	float:left;
	width:100%;
}
.comments .p3{
	margin:0;
	padding:0;
	color:red;
	font-size:30px;
}
.comments1{
	float:left;
	margin-top:20px;
	width:100%;
	border: 1px dashed #CDCDCD;
}
.comments1 li{
	list-style-type:none; 
}
li.left{
	float:left;
	width:50%;
}
li.right{
	float:right;
	margin-left:50px;
	width:50%;
}
.comments1 li{
	border-top: 1px dashed #CDCDCD;
}
.p2{
	margin:0;
	padding:0;
	color:red;
	font-size:30px;
}
form{
	display: block;
	height:100%;
}
table{
	display: block;
	height:100%;
}
tbody{
	display: block;
	height:100%;
}
#footer{
	float:left;
	margin-top:35px;
	width:100%;
	background:#014899;
}
#footer .foot-box{
	margin:0 auto;
	width:75%;
	height:130px;
}
.foot-box p{
	padding:30px;
	font-size:20px;
	color:white;
}
.clear{
	clear:both;
}